@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .print-area,
  .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  /* Hide buttons in print view if they are inside print-area but shouldn't be printed */
  .no-print {
    display: none !important;
  }
}
